<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style/style.css">
  <script src="https://kit.fontawesome.com/fe0a83848e.js" crossorigin="anonymous"></script>
  <title>My bible app</title>
</head>

<body class="body-animation"> 
  {{>header}}
   <main>
    <section class="grid">
      {{!-- Section van input --}}
      <section>
        <form action="">
          <p>Find your favorite bible verse</p>
          <label for="books">
            {{!-- Ik zoek eigenlijk een manier waarmee de options kan inladen uit de Bible api.. --}}
            <select name="books" id="books" required>
              <option value="">Select a book</option>
              <option value="GEN">Genesis</option>
              <option value="EXO">Exodus</option>
              <option value="LEV">Leviticus</option>
              <option value="NUM">Numbers</option>
              <option value="DEU">Deutoronomy</option>
              <option value="JOS">Joshua</option>
              <option value="JDG">Judges</option>
              <option value="RUT">Ruth</option>
              <option value="1SA">1 Samuel </option>
              <option value="2SA">2 Samuel</option>
              <option value="1KI">1 Kings</option>
              <option value="2KI">2 Kings</option>
              <option value="1CH">1 Chronicles</option>
              <option value="2CH">2 Chronicles</option>
              <option value="EZR">Ezra</option>
              <option value="NEH">Nehemiah</option>
              <option value="EST">Esther</option>
              <option value="JOB">Job</option>
              <option value="PSA">Psalms</option>
              <option value="PRO">Proverbs</option>
              <option value="ECC">Ecclesiastes</option>
              <option value="SNG">Song of Solomon</option>
              <option value="ISA">Isaiah</option>
              <option value="JER">Jeremiah</option>
              <option value="LAM">Lamentations</option>
              <option value="EZK">Ezekiel</option>
              <option value="DAN">Daniel</option>
              <option value="HOS">Hosea</option>
              <option value="JOL">Joel</option>
              <option value="AMO">Amos</option>
              <option value="OBA">Obadiah</option>
              <option value="JON">Jonah</option>
              <option value="MIC">Micah</option>
              <option value="NAM">Nahum</option>
              <option value="HAB">Habakkuk</option>
              <option value="ZEP">Zephaniah</option>
              <option value="HAG">Haggai</option>
              <option value="ZEC">Zechariah</option>
              <option value="MAL">Malachi</option>
              <option value="MAT">Matthew</option>
              <option value="MRK">Mark</option>
              <option value="LUK">Luke</option>
              <option value="JHN">John</option>
              <option value="ACT">Acts</option>
              <option value="ROM">Romans</option>
              <option value="1CO">1 Corinthians</option>
              <option value="2CO">2 Corinthians</option>
              <option value="GAL">Galatians</option>
              <option value="EPH">Ephesians</option>
              <option value="PHP">Philippians</option>
              <option value="COL">Colossians</option>
              <option value="1TH">1 Thessalonians</option>
              <option value="2TH">2 Thessalonians</option>
              <option value="1TI">1 Timothy</option>
              <option value="2TI">2 Timothy</option>
              <option value="TIT">Titus</option>
              <option value="PHM">Philemon</option>
              <option value="HEB">Hebrew</option>
              <option value="JAS">James</option>
              <option value="1PE">1 Peter</option>
              <option value="2PE">2 Peter</option>
              <option value="1JN">1 John</option>
              <option value="2JN">2 John</option>
              <option value="3JN">3 John</option>
              <option value="JUD">Jude</option>
              <option value="REV">Revelation</option>
            </select>
          </label>
          <label for="chapter">
            <input type="number" name="chapter" class="number" min="1" placeholder="Chapter" required>
          </label>
          <label for="verse">
            <input type="number" name="verse" class="verse" placeholder="Verse">
          </label>
          <button>Search</button>
        </form>
      </section>
      {{!-- Section van output --}}
      <section>
        <nav>
          <button class="prev">Prev</button>
          <button class="next">Next</button>
        </nav>
        <p><a href="https://docs.api.bible/docs/overview" class="ref"> API.Bible </a></p>
        <div class="loading"></div>
        <article class="output">
          <h2 class="title"></h2>
          <h3 class="subtitle"></h3>
          <div class="text"></div>
        </article>
           <nav>
          <button class="prev">Prev</button>
          <button class="next">Next</button>
        </nav>
      </section>
    </section>
  </main> 
  {{>footer}}
  <script src="app.js"></script>
</body>

</html>