*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

html, body {
  font-size: 16px;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
  /* background: #edf2f7; */
  line-height: 1.35;
}

h1 {
  font-size: 2.441rem;
}

h2 {
  font-size: 1.953rem;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.563rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  font-size: 1em;
}

a, a:visited {
  color: #1a202c;
  text-decoration: none;
}

header, footer, section.grid-about {
  padding: 2vmax 8vmax;
  /* width:  */
  /* background: #f7fafc; */
  background: #edf2f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.grid-about img {
  border-radius: 100%;
  margin-bottom: 2em;
}

.grid-about p {
  max-width: 60ch;
}

.grid-about article {
  margin-bottom: 8vmax;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

section {
  padding: 2vmax 8vmax;
}

@media screen and (max-width: 700px) {
  section {
    padding: 2vmax;
  }
  header, footer, section.grid-about {
    padding: 2vmax;
  }
  input, button, select {
    display: block;
    margin-bottom: 0.5em;
    width: 100%;
  }
  section.grid {
    padding: 4vmax 0;
  }
  .nav {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
  }
  .nav button {
    height: initial;
    margin-right: 0.5em;
  }
}

header ul {
  list-style: none;
  padding-left: 0;
}

header ul li {
  display: inline;
}

form input, form option, form select, form button, form button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 3vmin;
  border-radius: 8px;
  border: none;
  background: #edf2f7;
  font-weight: 600;
  font-size: 1em;
  margin-right: 0.5em;
}

form button {
  background: #4fd1c5;
  color: white;
}

form p {
  padding-bottom: 1vmax;
}

section[class] section:nth-child(2) {
  background: #e2e8f0;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  /* max-height: 50vmax; */
  overflow-y: scroll;
  margin-bottom: 8em;
  border-radius: 8px;
}

section[class] section article {
  grid-column: 1 / -1;
  padding: 2vmax 0;
}

section[class] section:nth-child(2) button {
  /* height: 2vmax; */
  padding: 1vmax 2vmax;
  border-radius: 8px;
  border: none;
  background: #4fd1c5;
  color: white;
  font-weight: 600;
  font-size: 1em;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

section[class] section>p {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

section[class] section:nth-child(2)>a {
  /* align-self: flex-end; */
}

.text p {
  font-size: 1rem;
  margin: 1vmax 0;
}

.text p span {
  margin-right: 0.5rem;
  font-weight: 500;
  /* display: block; */
  margin-top: 0.5em;
}

.current, p a:hover, li a:hover {
  border-bottom: 2px solid #4299e1;
}

.nav {
  visibility: hidden;
  opacity: 0;
}